@page "/settings"

<div class="container">

    <div class="card-group"> 
        <div class="card text-center color-site card-menu-item ">
            <div class="center-div">
                @*<img class="img-item" src="image/img-user.png" alt="Card image cap" />*@
                <i class="fa fa-home fa-3x text-white pt-2"aria-hidden="true"></i>
            </div>
            <div class="card-body color-text-site">
                <h5 class="card-title">Datos del sitio</h5>
                <p class="card-text">Opción para administrar los perfiles para un usuario en el sistema.</p>
                <a href="/settings" class="btn btn-primary btn-sm">Ir</a>
            </div>
        </div>

        <div class="card text-center color-site card-menu-item ">
            <div class="center-div">
                @*<img class="img-item" src="image/img-user.png" alt="Card image cap" />*@
                <i class="fa fa-user-secret fa-3x text-white pt-2" aria-hidden="true"></i>
            </div>
            <div class="card-body color-text-site">
                <h5 class="card-title">Perfiles de usuario</h5>
                <p class="card-text">Opción para administrar los perfiles para un usuario en el sistema.</p>
                <a href="/roles" class="btn btn-primary btn-sm">Ir</a>
            </div>
        </div>

        <div class="card text-center color-site card-menu-item ">
            <div class="center-div">
                @*<img class="img-item" src="image/img-user.png" alt="Card image cap" />*@
                <i class="fa fa-users fa-3x text-white pt-2" aria-hidden="true"></i>
            </div>
            <div class="card-body color-text-site">
                <h5 class="card-title">Usuarios</h5>
                <p class="card-text">Opción para administrar los perfiles para un usuario en el sistema.</p>
                <a href="/users" class="btn btn-primary btn-sm">Ir</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="div-separator"></div>
    </div>

    <div class="card-group">

        <div class="card text-center color-site card-menu-item ">
            <div class="center-div">
                @*<img class="img-item" src="image/img-user.png" alt="Card image cap" />*@
                <i class="fa fa-tags fa-3x text-white pt-2" aria-hidden="true"></i>
            </div>
            <div class="card-body color-text-site">
                <h5 class="card-title">Categorias de producto.</h5>
                <p class="card-text">Opción para administrar los perfiles para un usuario en el sistema.</p>
                <a href="/categories" class="btn btn-primary btn-sm">Ir</a>
            </div>
        </div>

        <div class="card text-center color-site card-menu-item ">
            <div class="center-div">
                @*<img class="img-item" src="image/img-user.png" alt="Card image cap" />*@
                <i class="fa fa-truck fa-3x text-white pt-2" aria-hidden="true"></i>
            </div>
            <div class="card-body color-text-site">
                <h5 class="card-title">Proveedores</h5>
                <p class="card-text">Opción para administrar los perfiles para un usuario en el sistema.</p>
                <a href="/settings" class="btn btn-primary btn-sm">Ir</a>
            </div>
        </div>

        <div class="card text-center color-site card-menu-item ">
            <div class="center-div">
                @*<img class="img-item" src="image/img-user.png" alt="Card image cap" />*@
                <i class="fa fa-cubes fa-3x text-white pt-2" aria-hidden="true"></i>
            </div>
            <div class="card-body color-text-site">
                <h5 class="card-title">Productos</h5>
                <p class="card-text">Opción para administrar los productos.</p>
                <a href="/products" class="btn btn-primary btn-sm">Ir</a>
            </div>
        </div>

    </div>

</div>

@code {

}
